{% extends 'apps/base.html' %}
{% load static %}
{% block title %}Đặt phòng{% endblock %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/css/booking.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-vi.js"></script>
{% endblock %}

{% block booking %}

<nav class="breadcrumbs">
    <a href="{% url 'home' %}" class="breadcrumbs__item">Trang chủ</a>
    <a href="{% url 'detail' %}?id={{ room.product.id }}" class="breadcrumbs__item">Chi tiết cơ sở lưu trú</a>
    <a href="#" class="breadcrumbs__item is-active">Đặt phòng</a> 
</nav>

<div class="container mt-5 bg-light p-4 rounded shadow custom-container">
    <h3 class="text-center mb-4">Thông Tin Đặt Phòng</h3>
    <div class="table-wrapper">
        <form method="POST">
            {% csrf_token %}
            
            <!-- Include room_id as a hidden field -->
            <input type="hidden" name="room_id" value="{{ room.id }}">

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Tên CS lưu trú:</strong>
                        <div><strong>{{ room.product.name }}</strong></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Mã Phòng:</strong>
                        <div><strong>{{ room.roomCode }}</strong></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Loại phòng:</strong>
                        <div><strong>{{ room.room_type }}</strong></div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Giá tiền:</strong>
                        <div><strong>{{ room.price|format_price }} Đồng</strong></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>TT Tài khoản CS lưu trú:</strong>
                        <div><strong>{{ room.product.owner.last_name }} {{ room.product.owner.first_name }}</strong></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Thanh toán:</strong>
                        <select class="form-select" name="payment_method" required>
                            <option value="Thanh toán chuyển khoản">Thanh toán chuyển khoản</option>
                            <option value="Thanh toán qua liên hệ">Thanh toán qua liên hệ</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Tên khách hàng:</strong>
                        <input type="text" class="form-control" name="customer_name" value="{{ order.cname }}" placeholder="Nhập tên của bạn" title="Vui lòng nhập tên của bạn" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Số CCCD:</strong>
                        <input type="text" class="form-control" name="cccd" pattern="\d{12}" placeholder="Nhập số căn cước công dân" title="Vui lòng nhập 12 chữ số" required>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Địa chỉ:</strong>
                        <input type="text" class="form-control" name="address" value="{{ order.address }}" placeholder="Nhập địa chỉ" title="Vui lòng nhập tên địa chỉ của bạn" required>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Số ĐT:</strong>
                        <input type="text" class="form-control" name="phone_number" value="{{ order.phonecall }}" placeholder="Nhập số điện thoại" pattern="\d{10}" title="Vui lòng nhập số điện thoại gồm 10 chữ số" required>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="field-wrapper">
                        <strong>Ngày nhận phòng:</strong>
                        <input type="text" id="datepicker" class="form-control" name="booking_date" value="{{ order.datebook|date:'d/m/Y' }}" placeholder="Nhập ngày đặt phòng" title="Vui lòng nhập ngày đặt phòng" required>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <button type="submit" class="btn btn-primary mt-4"><strong>Xác nhận đặt phòng</strong></button>
                </div>
            </div>
        </form>    
    </div>
</div>
<br><br>

<script>
    $( function() {
      $( "#datepicker" ).datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            prevText: "Trước",
            nextText: "Sau",
            monthNamesShort: ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"], // Short month names
            dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"], // Short day names
            dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"], // Full day names
            showMonthAfterYear: false,  // Show month before year in date format
        });
    } );
</script>   

<style>
    .breadcrumbs {
border: 1px solid #cbd2d9;
border-radius: 0.3rem;
display: inline-flex;
margin-bottom: 10px;
overflow: hidden;
}

.breadcrumbs__item {
background: #fff;
color: #333;
outline: none;
padding: 0.75em 0.75em 0.75em 1.25em;
position: relative;
text-decoration: none;
transition: background 0.2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
background: #323f4a;
color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
background: white;
bottom: 0;
clip-path: polygon(50% 50%, -50% -50%, 0 100%);
content: "";
left: 100%;
position: absolute;
top: 0;
transition: background 0.2s linear;
width: 1em;
z-index: 1;
}

.breadcrumbs__item:before {
background: #cbd2d9;
margin-left: 1px;
}

.breadcrumbs__item:last-child {
border-right: none;
}

.breadcrumbs__item.is-active {
background: #edf1f5;
}
</style>

{% endblock %}
