{% extends 'apps/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Giỏ hàng{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}">
{% endblock %}

{% block cart_content %}
<div class="container my-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="btn btn-outline-dark rounded-btn" href="{% url 'hotel' %}">&#x2190; Trở lại</a>

                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 me-3">Số lượng: <strong>{{ order_instance|length }}</strong> phòng</h5>
                        <a class="btn btn-success rounded-btn ms-3" href="{% url 'checkout' %}">Thanh toán</a>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tên CS lưu trú</th>
                            <th>Địa chỉ</th>
                            <th>Số ĐT</th>
                            <th>Người Đặt phòng</th>
                            <th>Ngày đặt phòng</th>
                            <th>Loại phòng</th>
                            <th>Mã phòng</th>
                            <th>Giá tiền</th>
                            <th>Xác nhận</th>
                            {% if profile.role == 'seller' %}
                            <th>Trạng thái</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_instance %}
                            <tr>
                                <td>{{ order.room.product.name }}</td>
                                <td>{{ order.room.product.location }}</td>
                                <td>{{ order.phonecall }}</td>
                                <td>{{ order.cname }}</td>
                                <td>{{ order.datebook|date:"d/m/Y" }}</td>
                                <td>{{ order.room.roomName }}</td> <!-- Assuming you want room type -->
                                <td>{{ order.room.roomCode }}</td>
                                <td>{{ order.room.price|format_price }} Đồng</td>

                                {% if profile.role == 'seller' %}
                                <td>
                                    <a href="" class="btn btn-primary">Xác Nhận</a>
                                    <a href="" class="btn btn-warning">Chờ</a>
                                </td>
                                <td>
                                    <a href="" class="btn btn-danger">Trả</a>
                                    <a href="" class="btn btn-info">Sửa</a>
                                    <a href="" class="btn btn-dark">Xóa</a>
                                </td>
                                {% else %} 
                                <td>Chờ/Xác Nhận</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock cart_content %}
