{% extends 'apps/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Quản lí cơ sở lưu trú{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'app/js/cart.js' %}"></script>
{% endblock %}
{% block cart_content %}

<nav class="breadcrumbs">
    <a href="{% url 'home' %}" class="breadcrumbs__item">Trang chủ</a>
    <a href="{% url 'cart' %}" class="breadcrumbs__item is-active">Quản lí cơ sở lưu trú</a> 
</nav>

<div class="container my-4">
    <div class="row g-4">

        <!-- Group: Danh sách cơ sở lưu trú or Add Hotel -->
        <div class="col-lg-12">
            {% if products %}
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <a class="btn btn-outline-dark rounded-btn" href="{% url 'home' %}">&#x2190; Trở lại</a>
                        </div>
                        <h5 class="section-title">Cơ sở lưu trú của bạn</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Đánh giá</th>
                                        <th>Tình trạng</th>
                                        <th>Giá</th>
                                        <th>Số điện thoại</th>
                                        <th>Sửa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.name }}</td>
                                            <td>
                                                {% for _ in "1"|center:product.rate %}
                                                    <i class="fa fa-star text-warning"></i>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% if product.onSale %} Còn phòng {% else %} Hết phòng {% endif %}
                                            </td>
                                            <td>{{ product.amountprice }} Đồng</td>
                                            <td>{{ product.phonecall }}</td>
                                            <td>
                                                <a href="{% url 'update_hotel' hotel_id=product.id %}" class="text-success" >
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </td>
                                           
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center text-danger">Không có cơ sở lưu trú nào.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- Add Hotel Section -->
                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <a class="btn btn-outline-dark rounded-btn" href="{% url 'home' %}">&#x2190; Trở lại</a>
                        </div>
                        <h5 class="section-title">Thêm cơ sở lưu trú</h5>
                        
                        <div class="text-center">
                            <a class="btn btn-lg btn purple btn-rounded mb-3 px-4 py-2" href="{% url 'add_hotel' %}">
                                <i class="fas fa-plus-circle me-2"></i> Thêm cơ sở lưu trú
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        

        <!-- Group: Thêm phòng and Danh sách phòng -->
        <div class="col-lg-4">
            <!-- Bộ lọc -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="section-title">Bộ lọc</h5>
                    <div class="filter-section py-3">
                        <form method="GET">
                            <div class="filter-fields">

                                <!-- Filter by Room Code -->
                                <div class="">
                                    <label for="room_code" class="form-label">Số phòng</label>
                                    <input type="text" name="room_code" id="room_code" class="form-control" placeholder="Nhập số phòng" value="{{ request.GET.room_code }}">
                                </div>

                                <!-- Filter by Price Range -->
                                <div class="" id="price">
                                    <label for="price" class="form-label">Khoảng giá</label>
                                    <div class="d-flex">
                                        <input type="number" name="min_price" id="min_price" class="form-control me-2" placeholder="Từ" value="{{ request.GET.min_price }}">
                                        <input type="number" name="max_price" id="max_price" class="form-control" placeholder="Đến" value="{{ request.GET.max_price }}">
                                    </div>
                                </div>

                                <!-- Filter by Room Type -->
                                <div class="">
                                    <label for="room_type" class="form-label">Loại phòng</label>
                                    <select name="room_type" id="room_type" class="form-control">
                                        <option value="all">Tất cả loại phòng</option>
                                        {% for type in room_types %}
                                            <option value="{{ type.id }}">
                                                {{ type.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="">
                                    <label for="status_type" class="form-label">Trạng thái</label>
                                    <select name="status_type" id="status_type" class="form-control">
                                        <option value="all">Tất cả trạng thái</option>
                                        {% for type in status_types %}
                                            <option value="{{ type.id }}">
                                                {{ type.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                
                            </div>

                            <!-- Filter Buttons -->
                            <div class="mt-3 ">
                                <button type="submit" class="btn btn-lg btn purple-btn px-2 py-2" id="submit">
                                    <i class="fas fa-search me-2"></i> Tìm kiếm
                                </button>
                                <a href="?" class="btn btn-lg btn-outline-secondary px-2 py-2">
                                    <i class="fas fa-times-circle me-2"></i> Xóa tìm kiếm
                                </a>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    <a href="javascript:void(0);" class="btn btn-outline purple d-block mb-3" id="showMoreBtn"><i class="fas fa-plus-circle"></i>  Thêm phòng nhanh</a>

                    <div id="extraContent2" style="display: block;">
                        <h5 class="section-title">Thêm phòng</h5>
                        <div class="text-center">
                            <a class="btn btn-lg btn purple-btn btn-rounded mb-3 px-4 py-2" href="{% url 'add_room' %}"> <i class="fas fa-plus-circle me-2"></i> Thêm phòng </a>
                        </div>
                    </div>
                    

                    <div id="extraContent" style="display: none;">
                        <h5 class="section-title">Thêm phòng nhanh</h5>
                        <div class="text-center">
                            <a class="btn btn-lg btn-outline purple btn-rounded mb-3 px-4 py-2" href="{% url 'download_example_room' %}">
                                <i class="fas fa-download me-2"></i> Tải file excel mẫu
                            </a>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="room_excel" id="room_excel" accept=".xlsx, .xls" class="form-control mb-3" required>
                                <button type="submit" class="btn btn-lg btn purple-btn btn-rounded mb-3 px-4 py-2"><i class="fas fa-plus-circle me-2"></i> Thêm phòng</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <!-- Danh sách phòng -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="section-title">Danh sách phòng</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Loại phòng</th>
                                    <th>Số phòng</th>
                                    <th>Giá</th>
                                    <th>Tình trạng</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in room_page %}
                                    <tr>
                                        <td>{{ room.roomName }}</td>
                                        <td>{{ room.room_code }}</td>
                                        <td>{{ room.price|format_price }} Đồng</td>
                                        <td>{{ room.status.name }}</td>
                                        <td>
                                            <a href="{% url 'update_room' room_id=room.id %}" class="text-success">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteRoomModal{{ room.id }}">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                            <div class="modal fade" id="deleteRoomModal{{ room.id }}" tabindex="-1" aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteRoomModalLabel">Xác nhận xóa</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Bạn có chắc chắn muốn xóa phòng này không?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                                            <a href="{% url 'delete_room' room_id=room.id %}" class="btn btn-danger">Có, Xóa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center text-danger">Không có phòng nào.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if room_page %}
                        <div class="d-flex justify-content-center mt-4">
                            <nav>
                                <ul class="pagination">
                                    {% if room_page.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ room_page.previous_page_number }}&{{ query_string }}">&#x2190; Trang trước</a>
                                        </li>
                                    {% endif %}
                                    {% for num in room_page.paginator.page_range %}
                                        <li class="page-item {% if room_page.number == num %}active{% endif %}">
                                            <a class="page-link" href="?page={{ num }}&{{ query_string }}">{{ num }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if room_page.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ room_page.next_page_number }}&{{ query_string }}">Sang trang &#x2192;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
        .breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    margin-bottom: 10px;
    overflow: hidden;
    }

    .breadcrumbs__item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
    }

    .breadcrumbs__item:hover:after,
    .breadcrumbs__item:hover {
    background: #edf1f5;
    }

    .breadcrumbs__item:focus:after,
    .breadcrumbs__item:focus,
    .breadcrumbs__item.is-active:focus {
    background: #323f4a;
    color: #fff;
    }

    .breadcrumbs__item:after,
    .breadcrumbs__item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
    }

    .breadcrumbs__item:before {
    background: #cbd2d9;
    margin-left: 1px;
    }

    .breadcrumbs__item:last-child {
    border-right: none;
    }

    .breadcrumbs__item.is-active {
    background: #edf1f5;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const showMoreBtn = document.getElementById('showMoreBtn');
        const extraContent = document.getElementById('extraContent');
        const extraContent2 = document.getElementById('extraContent2');

        // Check if the button and content exist
        if (showMoreBtn && extraContent) {
            showMoreBtn.addEventListener('click', function () {
                // Toggle the display style of the extra content
                if (extraContent.style.display === 'none') {
                    extraContent.style.display = 'block'; // Show the content
                    extraContent2.style.display = 'none'; // Show the content
                    showMoreBtn.innerHTML = '<i class="fas fa-plus-circle"></i> Tạo tài khoản thủ công'; // Change the button text to "Hide"
                } else {
                    extraContent.style.display = 'none'; // Hide the content
                    extraContent2.style.display = 'block'; // Show the content
                    showMoreBtn.innerHTML = '<i class="fas fa-plus-circle"></i> Tạo tài khoản nhanh'; // Change the button text back to "See more"
                }
            });
        }
    });
</script>

{% endblock %}
