{% extends 'apps/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}

{% if allow %}
    {% trans "Tạo hồ sơ" %}
{% else %}
    {% trans "Cập nhật hồ sơ" %}
{% endif %}

{% endblock %}


{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-vi.js"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/css/edit_profile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block edit_profile %}

{% if profile.role == 'admin' %}
<nav class="breadcrumbs">
    <a href="{% url 'home' %}" class="breadcrumbs__item">{% trans "Trang chủ" %}</a>
    <a href="{% url 'manage_account' %}" class="breadcrumbs__item">{% trans "Quản lý tài khoản" %}</a> 
    {% if allow %}
        <a href="#" class="breadcrumbs__item is-active">{% trans "Tạo tài khoản" %}</a> 
    {% else %}
        <a href="#" class="breadcrumbs__item is-active">{% trans "Cập nhật tài khoản" %}</a> 
    {% endif %}

    
</nav>
{% else %}
<nav class="breadcrumbs">
    <a href="{% url 'home' %}" class="breadcrumbs__item">{% trans "Trang chủ" %}</a>
    <a href="{% url 'profile' %}" class="breadcrumbs__item">{% trans "Trang cá nhân" %}</a> 
    <a href="#" class="breadcrumbs__item is-active">{% trans "Cập nhật tài khoản" %}</a> 
</nav>
{% endif %}

<div class="custom-box">
    {% if allow %}
        <h1> {% trans "Tạo tài khoản" %} </h1>
    {% else %}
        <h1> {% trans "Cập nhật tài khoản" %} </h1>
    {% endif %}
    <br/>
    <form action="" method="POST" class="custom-form" enctype="multipart/form-data" id="edit-form">
        {% csrf_token %}
        <div class="row">
            <!-- Left Side (User Information) -->
             
            {% if error %}
                <h3 class="text-center" style="color: red;">{{ error }}</h3>
            {% endif %}
            <div class="col-md-6">
                <h3>{% trans "Thông tin tài khoản" %}</h3>
                <div class="form-group">
                    <label for="{{ user_form.username.id_for_label }}">{% trans "Tên tài khoản:" %}</label>
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ user_form.email.id_for_label }}">Email:</label>
                    {{ user_form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ user_form.first_name.id_for_label }}">{% trans "Tên riêng:" %}</label>
                    {{ user_form.first_name }}
                </div>
                <div class="form-group">
                    <label for="{{ user_form.last_name.id_for_label }}">{% trans "Họ:" %}</label>
                    {{ user_form.last_name }}
                </div>
            </div>

            <!-- Right Side (Profile Information) -->
            <div class="col-md-6">
                <h3>{% trans "Thông tin hồ sơ" %}Thông tin hồ sơ</h3>
                {% if allow %}
                    <div class="form-group">
                        <label for="{{ profile_form.role.id_for_label }}">{% trans "Vai trò:" %}</label>
                        {{ profile_form.role }}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ profile_form.cccd.id_for_label }}">{% trans "Căn cước công dân:" %}</label>
                    {{ profile_form.cccd }}
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.birthday.id_for_label }}">{% trans "Ngày sinh:" %}</label>
                    <input type="text" id="datepicker" class="form-control" name="birthday" 
                           value="{{ profile_form.birthday.value|date:"d/m/Y" }}">
                </div>
                <div class="form-group">
                    <label for="{{ profile_form.phonecall.id_for_label }}">{% trans "Số điện thoại:" %}</label>
                    {{ profile_form.phonecall }}
                </div>

                <div class="form-group">
                    <label for="id_profile_image">{% trans "Ảnh hồ sơ:" %}</label>
                    <div class="input-group">
                        <input 
                            type="file" 
                            name="profile_image" 
                            id="id_profile_image" 
                            class="form-control form-outline"
                            accept="image/*"
                        >
                    </div>
                    {% if profile_form.instance.profile_image %}
                        <div class="mt-2">
                            <p class="text-muted mt-2">{% trans "Hình ảnh hiện tại:" %}</p>
                            <img 
                                src="{{ profile_form.instance.profile_image.url }}" 
                                alt="Current Image" 
                                class="uploaded-image img-thumbnail" 
                                style="max-width: 200px; max-height: 200px;"
                            >

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Password Fields -->
        <h3 class="mt-4">{% trans "Mật khẩu" %}</h3>
        <div class="row">
            <!-- Password1 Field -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ user_form.password1.id_for_label }}">{% trans "Mật khẩu mới:" %}</label>
                    <div class="input-group">
                        {{ user_form.password1 }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('id_password1', this)">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Password2 Field -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ user_form.password2.id_for_label }}">{% trans "Xác nhận mật khẩu:" %}</label>
                    <div class="input-group">
                        {{ user_form.password2 }}
                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('id_password2', this)">
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="button" class="btn orange btn-rounded" data-bs-toggle="modal" data-bs-target="#confirmUpdateModal">
                {% trans "Cập nhật" %}
            </button>
        
            <!-- Confirmation Modal -->
            <div class="modal fade" id="confirmUpdateModal" tabindex="-1" aria-labelledby="confirmUpdateModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmUpdateModalLabel">{% trans "Xác nhận cập nhật thông tin" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% trans "Bạn có chắc chắn muốn cập nhật thông tin này?" %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Hủy" %}</button>
                            <!-- Hidden Submit Button -->
                            <button type="submit" name="action" value="Cập nhật" class="btn orange">{% trans "Xác nhận" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            {% if profile.role == 'admin' %}
                <a class="btn btn-secondary" href="{% url 'manage_account'%}"><i class="fas fa-times-circle me-2"></i> {% trans "Hủy bỏ" %}</a>
            {% else %}
                <a class="btn btn-secondary" href="{% url 'profile'%}"><i class="fas fa-times-circle me-2"></i> {% trans "Hủy bỏ" %}</a>
            {% endif %}
            </div>
        </div>
        <br/>
        
    </form>

    
    
</div>


<br/><br/>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Custom pattern for password validation
        
        // Password fields
        const password1Field = document.getElementById("id_password1");
        const password2Field = document.getElementById("id_password2");

        // Trigger validation when user types in the fields (only if they are filled)
        password1Field.addEventListener('input', function() {
            // Reset custom validity
            this.setCustomValidity('');

            // Apply validation only if the field has value
            if (this.value && !this.value.match(passwordPattern)) {
                this.setCustomValidity(`{% trans "Đảm bảo mật khẩu chứa kí tự phù hợp" %}`);
            }
        });

        password2Field.addEventListener('input', function() {
            // Reset custom validity
            this.setCustomValidity('');

            // Apply validation only if the field has value
            if (this.value && !this.value.match(passwordPattern)) {
                this.setCustomValidity(`{% trans "Đảm bảo mật khẩu chứa kí tự phù hợp" %}`);
            }
        });
    });
    $( function() {
      $( "#datepicker" ).datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            prevText: "Trước",
            nextText: "Sau",
            monthNamesShort: ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"], // Short month names
            dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"], // Short day names
            dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"], // Full day names
            showMonthAfterYear: false,  // Show month before year in date format
        });
    } );
</script>
    
<style>
        .breadcrumbs {
        border: 1px solid #cbd2d9;
        border-radius: 0.3rem;
        display: inline-flex;
        margin-bottom: 10px;
        overflow: hidden;
        }

        .breadcrumbs__item {
        background: #fff;
        color: #333;
        outline: none;
        padding: 0.75em 0.75em 0.75em 1.25em;
        position: relative;
        text-decoration: none;
        transition: background 0.2s linear;
        }

        .breadcrumbs__item:hover:after,
        .breadcrumbs__item:hover {
        background: #edf1f5;
        }

        .breadcrumbs__item:focus:after,
        .breadcrumbs__item:focus,
        .breadcrumbs__item.is-active:focus {
        background: #323f4a;
        color: #fff;
        }

        .breadcrumbs__item:after,
        .breadcrumbs__item:before {
        background: white;
        bottom: 0;
        clip-path: polygon(50% 50%, -50% -50%, 0 100%);
        content: "";
        left: 100%;
        position: absolute;
        top: 0;
        transition: background 0.2s linear;
        width: 1em;
        z-index: 1;
        }

        .breadcrumbs__item:before {
        background: #cbd2d9;
        margin-left: 1px;
        }

        .breadcrumbs__item:last-child {
        border-right: none;
        }

        .breadcrumbs__item.is-active {
        background: #edf1f5;
        }
</style>


<script>
    function togglePassword(inputId, button) {
        const passwordInput = document.getElementById(inputId);
        const icon = button.querySelector('i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        }
    }

</script>
{% endblock edit_profile %}
