{% extends 'apps/base.html' %}
{% load static %}

{% block title %}

{% if allow %}
    Tạo hồ sơ
{% else %}
    Cập nhật hồ sơ
{% endif %}

{% endblock %}


{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-vi.js"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/css/edit_profile.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block edit_profile %}

<div class="custom-box">
    {% if allow %}
        <h1> Tạo hồ sơ </h1>
    {% else %}
        <h1> Cập nhật hồ sơ </h1>
    {% endif %}
    <br/>
    <form action="" method="POST" class="custom-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Thông tin tài khoản</h3>
        <div class="form-group">
            <label for="{{ user_form.username.id_for_label }}">Tên tài khoản:</label>
            {{ user_form.username }}
            {% if user_form.username.errors %}
                <div class="error">
                    {% for error in user_form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.email.id_for_label }}">Email:</label>
            {{ user_form.email }}
            {% if user_form.email.errors %}
                <div class="error">
                    {% for error in user_form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.first_name.id_for_label }}">Tên riêng:</label>
            {{ user_form.first_name }}
            {% if user_form.first_name.errors %}
                <div class="error">
                    {% for error in user_form.first_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.last_name.id_for_label }}">Họ:</label>
            {{ user_form.last_name }}
            {% if user_form.last_name.errors %}
                <div class="error">
                    {% for error in user_form.last_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <h3>Thông tin hồ sơ</h3>
        <div class="form-group">
            <label for="{{ profile_form.cccd.id_for_label }}">Căn cước công dân:</label>
            {{ profile_form.cccd }}
            {% if profile_form.cccd.errors %}
                <div class="error">
                    {% for error in profile_form.cccd.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ profile_form.birthday.id_for_label }}">Ngày sinh:</label>
            <input type="text" id="datepicker" class="form-control" name="birthday" value="{{ profile_form.birthday.value|date:"d/m/Y" }}" title="Vui lòng nhập ngày sinh" required>
            {% if profile_form.birthday.errors %}
                <div class="error">
                    {% for error in profile_form.birthday.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ profile_form.phonecall.id_for_label }}">Số điện thoại:</label>
            {{ profile_form.phonecall }}
            {% if profile_form.phonecall.errors %}
                <div class="error">
                    {% for error in profile_form.phonecall.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Image input field -->
        <div class="field-wrapper">
            <label for="profile_image">Chọn ảnh mới:</label>
            <input type="file" name="profile_image" id="profile_image" accept="image/*">
        </div>
        {% if profile_form.instance.profile_image %}
            <label>Ảnh hiện tại:</label>
            <div class="field-wrapper">
                <label for="current-image"></label>
                <img src="{{ profile_form.instance.profile_image.url }}" alt="Hotel Image" class="uploaded-image">
            </div>
        {% endif %}

        <br/>
        <h3>Mật khẩu</h3>
        <div class="form-group">
            <label for="{{ user_form.password1.id_for_label }}">Mật khẩu mới:</label>
            {{ user_form.password1 }}
            {% if user_form.password1.errors %}
                <div class="error">
                    {% for error in user_form.password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ user_form.password2.id_for_label }}">Xác nhận mật khẩu:</label>
            {{ user_form.password2 }}
            {% if user_form.password2.errors %}
                <div class="error">
                    {% for error in user_form.password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        

        <br/>
        <input type="submit" value="Cập nhật" class="btn btn-secondary">
        {% if profile.role == 'admin' %}
            <a class="btn btn-secondary" href="{% url 'manage_account'%}">Hủy bỏ</a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'profile'%}">Hủy bỏ</a>
        {% endif %}
    </form>

    
</div>


<br/><br/>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Custom pattern for password validation
        const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*?])[a-zA-Z0-9!@#$%^&*?]{8,}$/;
        
        // Password fields
        const password1Field = document.getElementById("id_password1");
        const password2Field = document.getElementById("id_password2");

        // Function to apply validation pattern
        const applyValidation = (field) => {
            // Set pattern, oninvalid and oninput attributes dynamically
            field.setAttribute('pattern', passwordPattern);
            field.setAttribute('oninvalid', "this.setCustomValidity('Đảm bảo mật khẩu có đủ chữ thường, chữ hoa, chữ số, ký tự đặc biệt và có ít nhất 8 ký tự')");
            field.setAttribute('oninput', "this.setCustomValidity('')");
        };

        // Apply validation to the fields if they are filled
        if (password1Field.value) {
            applyValidation(password1Field);
        }

        if (password2Field.value) {
            applyValidation(password2Field);
        }

        // Trigger validation when user types in the fields (only if they are filled)
        password1Field.addEventListener('input', function() {
            // Reset custom validity
            this.setCustomValidity('');

            // Apply validation only if the field has value
            if (this.value && !this.value.match(passwordPattern)) {
                this.setCustomValidity('Đảm bảo mật khẩu có đủ chữ thường, chữ hoa, chữ số, ký tự đặc biệt và có ít nhất 8 ký tự');
            }
        });

        password2Field.addEventListener('input', function() {
            // Reset custom validity
            this.setCustomValidity('');

            // Apply validation only if the field has value
            if (this.value && !this.value.match(passwordPattern)) {
                this.setCustomValidity('Đảm bảo mật khẩu có đủ chữ thường, chữ hoa, chữ số, ký tự đặc biệt và có ít nhất 8 ký tự');
            }
        });
    });
    $( function() {
      $( "#datepicker" ).datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            prevText: "Trước",
            nextText: "Sau",
            monthNamesShort: ["T1", "T2", "T3", "T4", "T5", "T6", "T7", "T8", "T9", "T10", "T11", "T12"], // Short month names
            dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"], // Short day names
            dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"], // Full day names
            showMonthAfterYear: false,  // Show month before year in date format
        });
    } );
</script>
    

{% endblock edit_profile %}
