{% extends 'apps/base.html' %}
{% load i18n %}
{% block title %}{% trans "Đăng nhập" %}{% endblock %}

{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
{% endblock %}

{% block login %}
<section class="vh-100 bg-image" style="background-color: #eee;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <!-- Custom Box -->
                     
                    <div class="custom-box">
                        <h2 class="text-uppercase text-center mb-5">{% trans "Đăng nhập tài khoản" %}</h2>
                        <div class="custom-form">
                            <form method="POST" action="" id="login-form">
                                {% csrf_token %}
                                
                                <div class="form-outline mb-4">
                                    <h5 class="form-label" for="username">{% trans "Tên tài khoản:" %}</h5>
                                    <input type="text" name="username" id="username" class="form-control" placeholder="{% trans 'Nhập tên tài khoản' %}" required />
                                </div>

                                <div class="form-outline mb-4">
                                    <h5 class="form-label" for="password">{% trans "Mật khẩu:" %}</h5>
                                    <div class="input-group">
                                        <input type="password" name="password" class="form-control form-outline" id="id_password1" placeholder="{% trans 'Nhập mật khẩu' %}" required>
                                        <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('id_password1', this)">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </div>
                                </div>


                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn orange btn-block btn-lg gradient-custom-4" style="border-radius: 10px;"><i class="fas fa-sign-in-alt me-2"></i> {% trans "Đăng nhập" %}</button>
                                </div>
                                
                                <p class="text-center text-muted mt-5 mb-0">{% trans "Bạn chưa có tài khoản?" %} <a href="{% url 'register' %}" class="fw-bold text-body"><u>{% trans "Đăng ký ở đây" %}</u></a></p>
                                
                                {% if allow %}
                                    <p class="text-center text-muted mt-5 mb-0">{% trans "Muốn tạo tài khoản người quản lí?" %} <a href="{% url 'create_superuser' %}" class="fw-bold text-body"><u>{% trans "Tạo ở đây" %}</u></a></p>
                                {% endif %}
                                {% for message in messages %}
                                    <p id='message' class="text-center text-muted mt-5 mb-0"> {{ message }}</p>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .btn-rounded {
        border-radius: 12px;
    }

    .input-group {
        display: flex;
        align-items: center;
    }

    .toggle-password {
        border: none;
        background: none;
        cursor: pointer;
    }
</style>

<script>
    // Toggle password visibility
    function togglePassword(inputId, button) {
        const passwordInput = document.getElementById(inputId);
        const icon = button.querySelector('i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        }
    }
</script>

{% endblock login %}
