{% extends 'apps/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="{% static 'app/css/register.css' %}" rel="stylesheet" />
</head>

<body>
    {% block register %}

    <section class="vh-100 bg-image" style="background-color: #eee;">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Đăng nhập tài khoản</h2>

                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control form-control-lg" />
                                        <label class="form-label" for="Username">Tên tài khoản</label>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" name="password" id="password" class="form-control form-control-lg" />
                                        <label class="form-label" for="password">Mật khẩu</label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Đăng nhập</button>
                                    </div>
                                    
                                    <p class="text-center text-muted mt-5 mb-0">Bạn chưa có tài khoản? <a href="{% url 'register' %}"
                                        class="fw-bold text-body"><u>Đăng ký ở đây</u></a></p>

                                    {% for message in messages %}
                                        <p id='message' class="text-center text-muted mt-5 mb-0"> {{ message }}</p>
                                    {% endfor %}

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
<div class="container">
    <h2 class="text-center">Register</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
    <div class="text-center mt-3">
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</div>
-->
    {% endblock register %}
</body>

</html>