{% extends 'apps/base.html' %}
{% load static %}
{% block title %}Cập nhật phòng{% endblock %}

{% block extra_js %}

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/css/update_room.css' %}">
{% endblock %}

{% block update_room %}

<nav class="breadcrumbs">
    <a href="{% url 'home' %}" class="breadcrumbs__item">Trang chủ</a>
    <a href="{% url 'order' %}" class="breadcrumbs__item">Đơn đặt phòng</a> 
    <a href="#" class="breadcrumbs__item is-active">Cập nhật đơn đặt phòng</a> 
</nav>

<div class="custom-box">
    <h1> Cập nhật Đơn Đặt Phòng </h1>
    <br />
    <form action="" method="POST" class="custom-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <!-- Order Information -->
            <div class="col-md-6">
                <h3 class="section-title">Thông tin Đơn Hàng</h3>

                <div class="form-group">
                    <label for="{{ order_form.cname.id_for_label }}">Khách hàng:</label>
                    {{ order_form.cname }}
                </div>

                <div class="form-group">
                    <label for="{{ order_form.datebook.id_for_label }}">Ngày nhận phòng:</label>
                    {{ order_form.datebook }}
                </div>

                <div class="form-group">
                    <label for="{{ order_form.address.id_for_label }}">Địa chỉ:</label>
                    {{ order_form.address }}
                </div>

                <div class="form-group">
                    <label for="{{ order_form.phonecall.id_for_label }}">Số điện thoại:</label>
                    {{ order_form.phonecall }}
                </div>

                <div class="form-group">
                    <label for="{{ order_form.cccd.id_for_label }}">CCCD:</label>
                    {{ order_form.cccd }}
                </div>
            </div>

            <!-- Status and Method -->
            <div class="col-md-6">
                <h3 class="section-title">Trạng thái & Phương thức</h3>

                <div class="form-group">
                    <label for="{{ order_form.room.id_for_label }}">Phòng:</label>
                    {{ order_form.room }}
                    {% if order_form.room.errors %}
                        <div class="text-danger">{{ order_form.room.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ order_form.method.id_for_label }}">Phương thức thanh toán:</label>
                    {{ order_form.method }}
                </div>

            </div>
            <input type="submit" value="Cập nhật" class="btn btn-secondary">
            <a class="btn btn-secondary" href="{% url 'order' %}">
                <i class="fas fa-times-circle me-2"></i> Hủy bỏ
            </a>
        </div>

        
    </form>
</div>


<br/><br/>

<style>
    .breadcrumbs {
        border: 1px solid #cbd2d9;
        border-radius: 0.3rem;
        display: inline-flex;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .breadcrumbs__item {
        background: #fff;
        color: #333;
        outline: none;
        padding: 0.75em 0.75em 0.75em 1.25em;
        position: relative;
        text-decoration: none;
        transition: background 0.2s linear;
    }

    .breadcrumbs__item:hover:after,
    .breadcrumbs__item:hover {
        background: #edf1f5;
    }

    .breadcrumbs__item:focus:after,
    .breadcrumbs__item:focus,
    .breadcrumbs__item.is-active:focus {
        background: #323f4a;
        color: #fff;
    }

    .breadcrumbs__item:after,
    .breadcrumbs__item:before {
        background: white;
        bottom: 0;
        clip-path: polygon(50% 50%, -50% -50%, 0 100%);
        content: "";
        left: 100%;
        position: absolute;
        top: 0;
        transition: background 0.2s linear;
        width: 1em;
        z-index: 1;
    }

    .breadcrumbs__item:before {
        background: #cbd2d9;
        margin-left: 1px;
    }

    .breadcrumbs__item:last-child {
        border-right: none;
    }

    .breadcrumbs__item.is-active {
        background: #edf1f5;
    }
</style>

{% endblock update_room %}
