.thumbnail {
    width: 100%;
    height: auto; 
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.box-element {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 20px; 
    border-radius: 5px; 
    transition: box-shadow 0.3s; 
}

.box-element:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.detail-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.btn-outline-success {
    color: #28a745; 
    border-color: #28a745;
    transition: background-color 0.3s;
}

.btn-outline-success:hover {
    background-color: #28a745; 
    color: white; 
}

@media (max-width: 768px) {
    .box-element {
        margin-bottom: 15px; 
    }
}
/* Optional: Adjust width */
input.form-control {
    width: auto; /* Makes the input box adjust to its content */
    max-width: 300px; /* Limits the maximum width */
}

button.btn {
    width: auto; /* Ensures the button doesn't take up unnecessary space */
}

.empty-state {
    height: 600px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}